# Data
Sales Dataset/
Sales Dataset/Raw_data/
Sales Dataset/Processed_data/
*.csv

# Generated Data / Databases
faiss_db/
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.ipynb
!analysis.ipynb
!analysis_results.ipynb
!analysis_results_full.ipynb
!analysis_results_refined.ipynb

# Environment

venv/
env/

secrets/.env
